.inputLabel {
    border: none;
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: #555;
    font-size: 20px;
  }
.messageText {
    color: #28a745;
    font-size: 16px;
  
}

.input[type="file"] {
    display: none;
  }